.song__container.playingSong {
    background-color: #0a80ff;
    color: #fff;
}
.song__container.playingSong .song__icon i {
    color: #fff;
}
.song__container:not(.playingSong):hover {
	background-color: #f0f0f0;
}
.song__content {
	width: 100%;
	display: flex;
	align-items: center;
}
.song__icon {
	margin-right: 10px;
}
.song__icon i {
	font-size: 2rem;
	color: #0a80ff;
}
.song__icon i:hover {
	color: steelblue;
}
.song__desc .song_name {
	font-weight: 300;
}
