/* .chatInput {
	composes: serif-font;
	background-color: green !important;
} */

.btnCustom {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.usersListAction span {
	cursor: pointer;
}

.sidebarBody {
	outline: currentcolor none medium;
}

.bellNotificationNumber {
	height: 16px;
	width: 16px;
	background-color: #d63031;
	border-radius: 20px;
	color: white;
	text-align: center;
	position: absolute;
	top: 0px;
    left: 7px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.bellNotificationNumber:empty {
	display: none;
}

.bellNotificationIcon {
    position: relative;
	transition: 0.5s;
	cursor: pointer;
}

.bellNotificationListContainer {
	width: 400px;
	height: 0px;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
	position: absolute;
    overflow-y: auto;
    scroll-behavior: smooth;
	scrollbar-width: thin;
    padding: 0px;
    z-index: 9999;
	background-color: #ffffff;
	-webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
	cursor: context-menu;
}

.bellNotificationIcon:hover > .bellNotificationListContainer {
	height: 60vh;
}

.bellNotificationList {
    position: relative;
    height: 100%;
}

.bellNotificationListContent {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}

.bellNotificationListContent:empty {
	display: none;
}

.bellNotificationEmpty .stick {
	text-align: center;
	display: block;
	font-size: 50pt;
	padding-top: 70px;
	padding-left: 80px;
}

.bellNotificationEmpty .stick:hover {
	color: black;
}

.fas:hover {
	color: #d63031;
}

.fas {
	font-size: 25pt;
	padding-bottom: 10px;
	color: black;
	margin-right: 40px;
	margin-left: 40px;
}

.cent {
	text-align: center;
	display: block;
}

.bellNotificationItem {
	padding: 15px 5px;
	/* background-color: #f4f4f4; */
    transition: 0.5s;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.bellNotificationItem:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}

.bellNotificationItemProfileContent {
	padding-left: 15px;
}

.bellNotificationItemProfile {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 75px;
	float: left;
}

.content {
	color: black;
	text-align: left;
}
.bellNotificationText {
	font-size: 1rem;
	padding: 5px 10px 0px 15px;
}

.bellNotificationTime {
	font-size: 0.8rem;
	color: grey;
}

.bellNotificationBtnGroup {
    position: absolute;
    width: 100%;
    padding:  10px 0;
	-webkit-box-shadow: 0px -5px 12px 0px rgba(191, 191, 191, 0.2);
	-moz-box-shadow: 0px -5px 12px 0px rgba(191, 191, 191, 0.2);
    box-shadow: 0px -5px 12px 0px rgba(191, 191, 191, 0.2);
    bottom: 0;
}

