svg {
	stroke: currentColor;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.visible_hidden {
	visibility: hidden !important;
}
.layout
	.content
	.chat
	.chat-body
	.messages
	.message-item.outgoing-message
	.message-image {
	display: flex;
	justify-content: flex-end;
}
.box {
	background: #fff;
	border-radius: 14px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	overflow: hidden;
	width: 400px;
	height: auto;
	float: left;
	z-index: 9999;
}
.box.fullScreen {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 !important;
}
.rem-position-fix {
	position: absolute;
	top: calc(20%);
	left: calc(40%);
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.rem-position-fix.fullScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: none !important;
}
.box video {
	position: relative;
	width: 100%;
	height: 100%;
}
.box .videoActions {
	position: absolute;
	bottom: 10px;
	padding: 10px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.avatar-upload {
	overflow: hidden;
}
.avatar-upload .upload-note {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease-in-out;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.avatar-upload:hover .upload-note {
	cursor: pointer;
	opacity: 1;
}

.scrolling_text__container {
	width: 200px;
	height: 40px;
	position: fixed;
	background-color: #fff;
	border: 1px solid rgba(61, 61, 61, 0.8);
	border-top: 0;
	margin-left: 1px;
	z-index: 999;
	top: 81px;
	left: 34%;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	overflow: hidden;
	display: flex;
	align-items: center;
	color: #333333;
}
.scrolling_text__container::before {
}

.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
}

.marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 10s linear infinite;
}

.marquee2 span {
	animation-delay: 1s;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.btn__audio {
	cursor: pointer;
	padding: 10px;
	color: #f5222d;
	position: absolute;
	background-color: rgba(250, 250, 250);
	border: none;
	box-sizing: border-box;
	right: 0;
	z-index: 2;
}
.btn__audio:hover {
	color: #a8071a;
}
.button__music {
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: transparent;
}
.button__music:hover {
	background-color: rgba(250, 250, 250, 0.6);
}
