.overFHidden {
	overflow: hidden;
}
.scroll_bar__thin {
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.mediaContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-around;
    overflow: hidden;
}
.media-item {
    display: flex;
    align-items: center;
    width: 120px;
}
.media-item img {
    height: auto;
}