/* .chatInput {
	composes: serif-font;
	background-color: green !important;
} */

.btnCustom {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.userInfo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.userInfo .userName {
	font-weight: bold;
	word-break: break-all;
}

.usersListAction span {
	cursor: pointer;
}

.sidebarBody {
	overflow: hidden;
	outline: currentcolor none medium;
}
