/* .chatInput {
	composes: serif-font;
} */
.h-100 {
	height: 100%;
}
.w-100 {
	width: 100%;
}
.dropdownPosition {
	position: absolute;
	will-change: transform;
	top: 0;
	left: 0;
	transform: translate3d(1264px, 52px, 0px);
}
.scroll_bar__thin {
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.chat_footer__preview {
	margin-bottom: 10px;
}

.chat_footer__image {
	display: flex;
	justify-content: center;
	width: 100px;
	height: 100px;
	padding: 10px;
	border: 1px solid rgb(230, 230, 230);
	cursor: pointer;
	border-radius: 14px;
	position: relative;
}
.chat_footer__file {
	display: flex;
	justify-content: center;
	width: 280px;
	height: 60px;
	border: 1px solid rgb(230, 230, 230);
	cursor: pointer;
	border-radius: 14px;
	position: relative;
	overflow: hidden;
}
.chat_footer__file_content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.chat_footer__file_icon {
	height: 100%;
	width: 80px;
	position: relative;
}
.chat_footer__file_i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0a80ff;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.chat_footer__file_desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding-left: 0.5rem;
}
.chat_footer__file_desc p {
	margin-bottom: 0;
}
.chat_file_type {
	text-transform: uppercase;
}
.chat_file_name {
	width: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	overflow: hidden;
}

.delete__file {
	opacity: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease;
	z-index: 1000;
	background-color: rgb(130, 130, 130, 0.5);
	border-radius: inherit;
}
.delete__file i {
	font-size: 1rem;
	color: #ffffff;
}
.chat_footer__image:hover .delete__file,
.chat_footer__file:hover .delete__file {
	opacity: 1;
}

.message_image_preview {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 24px;
	overflow: hidden;
	cursor: pointer;
}

.file_name {
	margin: 0;
	text-align: center;
	overflow: hidden;
}
img {
	max-width: 100%;
	height: 100%;
}
textarea {
	min-height: 40px !important;
	max-height: 400px !important;
}

.right-message .message-file .file-icon i {
	color: #ffffff !important;
}
